@import url(//fonts.googleapis.com/css?family=Vibur);

.logo {
  text-align: center;
  width: 65%;
  height: 400px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b {
  font: 100 8vh "Vibur";
  color: white;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #ddb10b, 0 0 0.5em #ddb10b, 0 0 0.1em #ddb10b, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 1.5s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }

}

.to-top {
  width: 50px;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: rgba(255,255,255,1);
  font-size: 30px;
  text-shadow: 0 0 2px rgba(black,1);
}

