---
title: Amanda Schjørmann
---
<div class="navbar-wagon w-100 d-flex align-items-center justify-content-center justify-content-md-end fixed-top text-white pr-lg-4">
  <div class="navbar-wagon-item pr-4" onClick="window.scroll({top: 750, left: 0, behavior: 'smooth' });">
    Projects
  </div>
  <div class="navbar-wagon-item px-4" onClick="window.scroll({top: 1150, left: 0, behavior: 'smooth' });">
    My Stack
  </div>
  <div class="navbar-wagon-item pl-4" onClick="window.scroll({top: 1600, left: 0, behavior: 'smooth' });">
    Contact
  </div>
</div>

<div class="banner w-100 d-flex justify-content-center align-items-center">
  <div class="neon-sign">
    <div class="logo position-absolute"><b>he<span>y</span> t<span>h</span>ere, I'm Amanda</b></div>
  </div>
  <div class="container px-5 mt-5">
    <div class="row justify-content-center justify-content-md-between align-items-center">

      <div class="rounded-0 h-50 text-white text-center about-text d-flex justify-content-center align-items-center">
        <p>
        I'm a web developer based in Copenhagen.
        <br>
        Former math student, elite showjumper and now fullstack developer.
        <br>
        Besides that, I can help you <span class="font-weight-bold">realise your idea.</span>
        </p>
      </div>

      <div class="me-photo position-relative text-white col-xs-12">
        <%= image_tag "me.jpg", class: "w-sx-25" %>
        <div class="arrow">
          <%= image_tag "arrow.png", class: "position-absolute" %>
        </div>
        <div class="me">
          <p class="position-absolute">Me</p>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="photo-section w-100"></div>

<div class="mid-section">
  <div class="header">Projects I've worked on:</div>
  <div class="slider">
    <a href="https://www.re-donner.fr/" target="_blank" class="website-card">
      <div class="website-header" style="background-image: url('../images/redonner.png');">
      </div>
      <div class="website-footer">
        <div class="text">
          www.re-donner.fr
        </div>
      </div>
    </a>

    <a href="http://new.jube.co/" target="_blank" class="website-card">
      <div class="website-header" style="background-image: url('../images/jube.png');">
      </div>
      <div class="website-footer">
        <div class="text">
          new.jube.co
        </div>
      </div>
    </a>

    <a href="http://new.jube.co/" target="_blank" class="website-card">
      <div class="website-header" style="background-image: url('../images/jube.png');">
      </div>
      <div class="website-footer">
        <div class="text">
          new.jube.co
        </div>
      </div>
    </a>

  </div>

  <div class="mystack-header">My stack:</div>
  <div class="row d-flex justify-content-center mystack">
    <div class="stack">Bootstrap</div>
    <div class="stack">jQuery</div>
    <div class="stack">HTML</div>
    <div class="stack">CSS / SCSS</div>
    <div class="stack">LESS</div>
    <div class="stack">SLIM</div>
    <div class="stack">SQL</div>
    <div class="stack">PostgreSQL</div>
    <div class="stack">JavaScript</div>
    <div class="stack">Figma Design</div>
    <div class="stack">AJAX</div>
    <div class="stack">Yarn & NPM</div>
    <div class="stack">Git & Github</div>
    <div class="stack">Heroku</div>
    <div class="stack">Webpack</div>
    <div class="stack">Redux</div>
    <div class="stack">REACT</div>
    <div class="stack">Ruby on Rails</div>
    <div class="stack">Ruby</div>
  </div>
</div>

<div class="wallpaper"></div>

<div class="bottom-section">
  <div class="location-icon"> <%= image_tag "location.png"%> </div>
  <div class="contact-me">
    <div class="field name">Amanda Schjørmann</div>
    <div class="field phone">+45 41 43 20 80</div>
    <div class="field linkedin"><a href="https://www.linkedin.com/in/amanda-schj%C3%B8rmann-24625114b/" target="_blank">www.linkedin.com/amandaschjoermann</a></div>
    <div class="field location">Copenhagen, Nørrebro</div>
    <div class="field email">CVR. 39 92 69 62</div>
  </div>
</div>

<div class="to-top" onClick="window.scroll({top: 0, left: 0, behavior: 'smooth' });"><i class="fas fa-chevron-up"></i></div>
